Class{
	elementIcon:false;
}

Package{
	elementIcon:false;
}

/* --  */

Class >  Label[type=StereotypeLabel] {
	visible: false;
}

Package >  Label[type=StereotypeLabel] {
	visible: false;
}

Dependency >  Label{
	visible: false;
}

/* --  */


/*
 * Stereotype Link
 */
Dependency[appliedStereotypes~="Link"]{
	lineStyle: solid;
	lineColor: black;
	lineWidth: 1;
}

Dependency[appliedStereotypes~="Link"] >  Label:name{
	visible: false;
}


/*
 * Stereotype Index
 */

Class[appliedStereotypes~="Index"] {
	displayBorder:false;
	maintainSymbolRatio:false;
	fillColor:white;
	displayName:true;
	followSVGSymbol:true;
	width: 50;
	
	svgFile: 'platform:/plugin/PP/resources/oohdm/desenhoIndex.svg';
}

Class[appliedStereotypes~="Index"] > Compartment[type="compartment_shape_display"] {
	visible:true;
	showTitle:false;
}

Class[appliedStereotypes~="Index"] > Compartment{
	visible:false;
	
}

Class[appliedStereotypes~="Index"] > Compartment[type=Stereotype] {
    visible:false;
    showTitle:false;
}

/*
 * Stereotype Context
 */

Class[appliedStereotypes~="Context"] > Compartment[type="compartment_shape_display"] {
	visible:false;
	showTitle:false;
}

Class[appliedStereotypes~="Context"] > Compartment{
	visible:false;
}

Class[appliedStereotypes~="Context"] {
	displayBorder:true;
	maintainSymbolRatio:false;
	fillColor:white;
	displayName:true;
	
}


/*
 * Stereotype Node
 */

Package[appliedStereotypes~="NavigationalClass"] {
	
	fillColor:gray;
		
}
